/* Card style */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 1rem 1.5rem;
}

.label {
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
}

/* Tiêu đề h2 cho card */
.subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #050020; /* màu cho tiêu đề */
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 4px solid #ff723a;
}
