/* Header */
.site-header {
  background-color: #00695c;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.navbar a {
  margin-left: 1rem;
  color: white;
  font-weight: 500;
}
