/* Weather card */
.weather-card {
  background: linear-gradient(to right, #4dd0e1, #26c6da);
  color: white;
}

.weather-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-left .temp-large {
  font-size: 2.5rem;
  font-weight: bold;
}

.weather-left .description {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.weather-left p {
  margin: 0.25rem 0;
}

.weather-right img {
  width: 100px;
  height: auto;
}

/* Forcast div */
.forecast-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
}

.forecast-grid div {
  background-color: #e0f7fa;
  padding: 0.5rem;
  border-radius: 6px;
}

.forecast-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 3px;
}

.forecast-day-name {
  font-size: 0.9rem;
  margin-bottom: 2px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.forecast-temp {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff723a;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.forecast-emoji {
  font-size: 1.6rem;
  margin-top: 0;
}

#weather-section .card {
  margin-bottom: 20px;
}

#hourlyChart {
  height: 200px;
}
