<section id="home-menu" class="menu-section">
  <div class="menu-container">
    <div
      class="menu-item"
      id="weather-card"
      onclick="navigateToSection('weather-section')"
    >
      <h3>Thời tiết</h3>
      <img src="/image/weather.png" alt="Weather Icon" />
      <p>Thông tin về thời tiết hiện tại và dự báo.</p>
    </div>
    <div
      class="menu-item"
      id="air-card"
      onclick="navigateToSection('air-section')"
    >
      <h3>Không khí</h3>
      <img src="/image/air.png" alt="Air Icon" />

      <p>Thông tin về chất lượng không khí.</p>
    </div>
    <div
      class="menu-item"
      id="uvindex-card"
      onclick="navigateToSection('uvindex-section')"
    >
      <h3>Chỉ số UV</h3>
      <img src="/image/uv.png" alt="UV Index Icon" />
      <p>Thông tin về mức độ bức xạ UV.</p>
    </div>
    <div
      class="menu-item"
      id="sea-card"
      onclick="navigateToSection('sea-section')"
    >
      <h3>Biển</h3>
      <img src="/image/wave.png" alt="Wave Icon" />
      <p>Thông tin về sóng, gió và điều kiện biển.</p>
    </div>
  </div>
  <!-- SỰ KIỆN DU LỊCH -->
  <div class="news-box">
    <h2>Sự kiện du lịch</h2>
    <div class="slideshow-wrapper">
      <div class="slideshow">
        <div class="slide">
          <img src="/image/news1.jpg" alt="Sự kiện 1" />
          <p class="caption">Lễ hội đua thuyền ở Phú Quốc</p>
        </div>
        <div class="slide">
          <img src="/image/news2.jpg" alt="Sự kiện 2" />
          <p class="caption">
            Once Show – Show diễn hoành tráng bậc nhất Châu Á.
          </p>
        </div>
        <div class="slide">
          <img src="/image/news3.jpg" alt="Sự kiện 3" />
          <p class="caption">
            Tinh hoa Việt Nam – Niềm tự hào về bản sắc dân tộc.
          </p>
        </div>
        <div class="slide">
          <img src="/image/news4.jpg" alt="Sự kiện 4" />
          <p class="caption">Sắc Màu Venice – Vũ khúc trời Âu</p>
        </div>
      </div>
    </div>
  </div>
</section>
