<!-- location-select.html -->
<div class="section">
  <label for="locationSelect" class="label">Chọn phường/xã</label>
  <select id="locationSelect" class="select">
    <option value="all">Tất cả</option>
    <option value="duong_dong">Phường Dương Đông</option>
    <option value="an_thoi">Phường An Thới</option>
    <option value="ganh_dau">Xã Gành Dầu</option>
    <option value="ham_ninh">Xã Hàm Ninh</option>
    <option value="bai_thom">Xã Bãi Thơm</option>
    <option value="cua_duong">Xã Cửa Dương</option>
    <option value="cua_can">Xã Cửa Cạn</option>
    <option value="duong_to">Xã Dương Tơ</option>
  </select>
</div>
