<section id="uvindex-section" class="tab-section">
  <div class="uvindex-display">
    <!-- Thang đo UV -->
    <div class="risk-indicator-uv">
      <div class="arrow-container-uv">
        <div class="arrow-uv"></div>
      </div>
      <div class="scale-container-uv">
        <div class="scale-uv">
          <div class="level-uv-index" id="level-uv-low">Thấp</div>
          <div class="level-uv-index" id="level-uv-moderate">Trung bình</div>
          <div class="level-uv-index" id="level-uv-high">Cao</div>
          <div class="level-uv-index" id="level-uv-very-high">Rất cao</div>
          <div class="level-uv-index" id="level-uv-extreme">Nguy hại</div>
        </div>
      </div>
    </div>

    <!-- Chỉ số UV -->
    <div class="uv-info">
      <div class="uv-number-container" id="uv-circle">
        <div class="uv-label">Chỉ số UV</div>
        <div class="uv-number" id = "uv-index"></div>
      </div>
    </div>



  <!-- Biểu đồ UV theo giờ -->
  <div class="uv-chart">
    <h2 class="subtitle">Dự báo chỉ số UV theo giờ</h2>
    <canvas id="UVHourChart"></canvas>
  </div>
</section>
